<h1>My Orders</h1>

<div id='orders'>

    {{#if orders.length}}
    {{#each orders}}
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Order <small>{{_id}}</small></span>
                    <p class='date'>{{date}}</p>
                    <p><em>{{user.userId.name}}</em> ({{user.userId.email}})</p>
                    <ol>
                        {{#each courses}}
                        <li> {{course.title}} (x <strong>{{count}}</strong>)</li>
                        {{/each}}
                    </ol>
                    <hr>
                    <p>Total price: <span class='price'>{{price}}</span></p>
                </div>
            </div>
        </div>
    </div>

    {{/each}}
    {{else}}
    <p>You haven't made any order yet</p>
    {{/if}}
</div>

{{!-- <div id='orders'>
    {{#if courses.length}}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td>
                    <button class="btn btn-small js-remove" data-id={{id}}>Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p><strong>Total price: </strong><span class="price">{{price}}</span></p>
    <form action="/orders" method="post">
        <button type="submit" class='btn'>Order</button>
    </form>
    {{else}}
    <p>Cart is empty</p>
    {{/if}}
</div> --}}